.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

h1,
h2 {
  padding: 20px;
  text-align: center;
}

img {
  width: 80%;
  height: 80%;
  object-fit: fill;
  align-items: center;
}

.containerDesktop {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-image: url("./assets/images/backgroundDesktop.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.desktop-content {
  text-align: center;
  margin-top: -120px;
}
.desktop-content h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 3.5rem;
  color: #cccccc;
  margin-bottom: 1rem;
  font-weight: 300;
  padding-top: 0%;
}

.desktop-content h2 {
  font-family: "Roboto", sans-serif;
  font-size: 1.8rem;
  color: #c26c34;
  line-height: 1.6;
  margin-bottom: 1rem;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.desktop-content img {
  max-width: 180px;
  transition: transform 0.3s ease;
  border-radius: 20px;
  background-color: white;
}

.desktop-content img:hover {
  transform: scale(1.05);
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #414141;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
