.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

h1,
h2 {
  padding: 20px;
  text-align: center;
}

img {
  width: 10%;
  height: 10%;
  object-fit: fill;
  align-items: center;
}

.containerDesktop {
  background-color: #292929;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 20px;
}

.desktop-card {
  background: #4e1717;
  padding: 2rem;
  border-radius: 15px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  max-width: 600px;
  text-align: center;
}

.desktop-card h1 {
  font-family: "Poppins", sans-serif;
  font-size: 2.5rem;
  color: #333;
  margin-bottom: 1.5rem;
}

.desktop-card p {
  font-family: "Roboto", sans-serif;
  font-size: 1.2rem;
  color: #666;
  line-height: 1.6;
  margin-bottom: 2rem;
}

.desktop-card img {
  max-width: 200px;
  border-radius: 10px;
  margin-top: 1rem;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #414141;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
